<a href="https://colab.research.google.com/github/veryut19/Python_Books/blob/main/Odnostrochniki_Python_lakonichnyi_i_soderzhatelnyi_kod_Kristian_Mai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Сhapter 1

Listing 1.1. Numeric data types

In [1]:
## Arithmetic operations
x, y = 3, 2
print(x + y) # = 5
print(x - y) # = 1
print(x * y) # = 6
print(x / y) # = 1.5
print(x // y) # = 1
print(x % y) # = 1
print(-x) # = -3
print(abs(-x)) # = 3
print(int(3.9)) # = 3
print(float(x)) # = 3.0
print(x ** y) # = 9

5
1
6
1.5
1
1
-3
3
3
3.0
9

Listing 1.2. Boolean values False and True

In [3]:
x = 1 > 2 
print(x) # False
y = 2 > 1 
print(y) # True

False
True

Listing 1.3. Keywords and, or and not

In [4]:
x, y = True, False
print((x or y) == True)
# True
print((x and y) == False)
# True
print((not y) == True)
# True

True
True
True

Listing 1.5. String data types

In [6]:
## The most important methods for working with strings
y = " This is lazy\t\n "
print(y.strip())
# Removing spaces: 'This is lazy'
print("Dr Dre".lower())
# # In lowercase: 'dr dre'
print("attention".upper())
# Uppercase: 'ATTENTION'
print("smartphone".startswith("smart"))
# Matches the string prefix with the argument: True
print("smartphone".endswith("phone"))
# Matches the string suffix with the argument: True
print("another".find("other"))
# Index of the found occurrence: 2
print("cheat".replace("ch", "m"))
# Replaces all occurrences of the first argument with the second: meat
print(','.join(["F", "B", "I"]))
# Glues all elements list using a delimiter string: F,B,I
print(len("Rumpelstiltskin"))
# String length: 15
print("year" in "earth")
# Contains: True

This is lazy
dr dre
ATTENTION
True
True
2
meat
F,B,I
15
False

Listing 1.6. Keyword None

In [7]:
def f():
  x= 2

print(f() is None)
# True
print("" == None)
# False
print(0 == None)
# False

True
False
False

Listing 1.7. The is keyword

In [8]:
y= x = 3
print(x is y)
# True
print([3] is [3])
# False

True
False

In [9]:
# 1. Adding to the end of the list
l = [1, 2, 2]
l.append(4)
print(l)
# [1, 2, 2, 4]
# 2. Insert
l = [1, 2, 4]
l.insert(2, 3)
print(l)
# [1, 2, 3, 4]
# 3. List concatenation
print([1, 2, 2] + [4])
# [1, 2, 2, 4]

[1, 2, 2, 4]
[1, 2, 3, 4]
[1, 2, 2, 4]

In [10]:
l = [1, 2, 2, 4]
l.remove(1)
print(l)
# [2, 2, 4]

[2, 2, 4]

In [11]:
l = [1, 2, 2, 4]
l.reverse()
print(l)
# [4, 2, 2, 1]

[4, 2, 2, 1]

In [12]:
l = [2, 1, 4, 2]
l.sort()
print(l)
# [1, 2, 2, 4]

[1, 2, 2, 4]

In [13]:
print([2, 2, 4].index(2)) #0
print([2, 2, 4].index(2,1)) #1

0
1

In [14]:
stack = [3]
stack.append(42) # [3, 42]
stack.pop() # 42 (stack: [3])
stack.pop() # 3 (stack: [])

3

Listing 1.8. The set requires hashed elements

In [16]:
hero = "Harry"
guide = "Dumbledore"
enemy = "Lord V."
print(hash(hero))
# 6175908009919104006
print(hash(guide))
# -5197671124693729851
characters = {hero, guide, enemy}
print(characters)
# {'Lord V.', 'Dumbledore', 'Harry'}

2334902610666332610
-486331851813376259
{'Harry', 'Lord V.', 'Dumbledore'}

In [17]:
team_1 = [hero, guide]
team_2 = [enemy]
teams = {team_1, team_2}
# TypeError: unhashable type: 'list'

TypeError: ignored

In [18]:
characters = {hero, guide, enemy}
print(characters)
# {'Lord V.', 'Dumbledore', 'Harry'}

{'Harry', 'Lord V.', 'Dumbledore'}

In [19]:
clone_army = {hero, hero, hero, hero, hero, enemy}
print(clone_army)
# {'Lord V.', 'Harry'}

{'Harry', 'Lord V.'}

Associative arrays

In [20]:
calories = {'apple' : 52, 'banana' : 89, 'choco' : 546}
print(calories['apple'] < calories['choco'])
# True
calories['cappu'] = 74
print(calories['banana'] < calories['cappu'])
# False
print('apple' in calories.keys())
# True
print(52 in calories.values())
# True
for k, v in calories.items():
    print(k) if v > 500 else None
# 'choco'

True
False
True
True
choco

Affiliation

In [21]:
print(42 in [2, 39, 42])
# True
print("21" in {"2", "39", "42"}) # False
print("list" in {"list" : [1, 2, 3], "set" : {1,2,3}})
# True

True
False
True

Listing 1.10. Using the keywords if, else and elif

In [23]:
x = int(input("your value: "))
if x > 3:
  print("Big")
elif x == 3:
  print("Medium") 
else:
  print("Small")

your value: 3
Medium

Listing 1.11. Keywords for and while

In [26]:
for i in [0, 1, 2]:
  print(i)
''' 0
1
2 '''

0
1
2

' 0\n1\n2 '

In [28]:
while True:
   break 
print("hello world")
# hello world

hello world

In [29]:
while True:
  continue #infinitely
  print("43")

KeyboardInterrupt: ignored

Listing 1.14. Functions

In [30]:
def appreciate(x, percentage):
   return x + x * percentage / 100
print(appreciate(10000, 5))
# 10500.0

10500.0

In [31]:
print((lambda x: x + 3)(3))
#6

6

# Сhapter 2